@page
@using Project.WIM.Localization
@using Project.WIM.Web.Pages.Wells
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<WIMResource> L
@section scripts
{
    <abp-script src="/Pages/Wells/Index.js" />
}

<abp-card>
    @*<abp-card-header>

            <h2>@L["Wells"]</h2>

        </abp-card-header>*@
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Wells"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-right">
                <abp-button id="NewWellButton"
                            text="@L["NewWell"].Value"
                            icon="plus"
                            button-type="Primary" />
            </abp-column>
        </abp-row>
    </abp-card-header>


    <abp-card-body>
        <abp-table striped-rows="true" id="WellsTable"></abp-table>
    </abp-card-body>
</abp-card>

